# Backend API URL
VITE_API_BASE_URL="http://localhost:8080/api"

# URL sub-project
VITE_STUDIODESIGN_URL="http://localhost:5174"
VITE_EJASA_URL="http://localhost:5175"
VITE_PORTAL_URL="http://localhost:5173"

# Google OAuth Client ID (dari Google Cloud Console)
VITE_GOOGLE_CLIENT_ID="isi-dengan-client-id-anda.apps.googleusercontent.com"
